.header {
    text-align: center;
    color : white;
    border-bottom: 1px solid #0f423f;
    display: inline;
    width : 100%;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    margin-bottom: 1rem;
}